Repository IntelPython/numba-dpex, pull requests merged in 2021-12, with the labels that each got.

#646 Fix skipping for Level Zero device for "with context" test
  numba_dppy/tests/test_with_context.py
Labels: bug, tests

#585 Support Numba 0.55 (including #7177 for GDB)
  .github/workflows/conda-package.yml
  numba_dppy/core/passes/dppy_lowerer.py
  numba_dppy/core/passes/dppy_passes.py
  numba_dppy/dppy_debuginfo.py
  numba_dppy/extended_numba_itanium_mangler.py
  numba_dppy/retarget.py
  numba_dppy/target.py
Labels: numba, debug

#653 Move skip marks to `tests/_helper.py`
  numba_dppy/tests/_helper.py
  numba_dppy/tests/test_with_context.py
Labels: tests

#658 Refactor side-by-side debugging scenario
  numba_dppy/examples/debug/side-by-side.py
  numba_dppy/tests/test_debug_dppy_numba.py
Labels: tests, debug

#659 Move `dpcpp/llvm-spirv` from runtime to testing dependency
  .github/workflows/conda-package.yml
  conda-recipe/meta.yaml
  conda-recipe/run_test.sh
  numba_dppy/tests/kernel_tests/test_atomic_op.py
Labels: feature-change

#662 Add skip_no_numba055 decorator
  numba_dppy/tests/test_debug_dppy_numba.py
Labels: enhancement, tests

#661 Parameterize test for atomics
  numba_dppy/tests/kernel_tests/test_atomic_op.py
Labels: tests, atomic

#663 Reuse decorator `skip_no_opencl_Xpu` to skip tests
  numba_dppy/tests/test_black_scholes.py
  numba_dppy/tests/test_controllable_fallback.py
  numba_dppy/tests/test_device_array_args.py
  numba_dppy/tests/test_dpnp_functions.py
  numba_dppy/tests/test_dppy_fallback.py
  numba_dppy/tests/test_dppy_func.py
  numba_dppy/tests/test_no_copy_usm_shared.py
  numba_dppy/tests/test_offload_diagnostics.py
  numba_dppy/tests/test_parfor_lower_message.py
  numba_dppy/tests/test_prange.py
  numba_dppy/tests/test_sum_reduction.py
  numba_dppy/tests/test_with_context.py
Labels: enhancement, tests

#664 Add decorator to skip unsupported atomics
  numba_dppy/tests/kernel_tests/test_atomic_op.py
Labels: enhancement, tests

#629 Support arrays with `__sycl_usm_array_interface__` attribute
  CHANGELOG.md
  numba_dppy/compiler.py
  numba_dppy/target.py
  numba_dppy/tests/integration/DuckUSMArray.py
  numba_dppy/tests/integration/test_sycl_usm_array_iface_interop.py
  numba_dppy/tests/integration/test_usm_ndarray_interop.py
  numba_dppy/utils/__init__.py
  numba_dppy/utils/array_utils.py
  numba_dppy/utils/type_conversion_fns.py
Labels: enhancement

#640 Support memory allocation in private address space
  CHANGELOG.md
  docs/user_guides/kernel_programming_guide/index.rst
  docs/user_guides/kernel_programming_guide/memory_allocation_address_space.rst
  numba_dppy/device_init.py
  numba_dppy/examples/kernel_private_memory.py
  numba_dppy/ocl/ocldecl.py
  numba_dppy/ocl/oclimpl.py
  numba_dppy/ocl/stubs.py
  numba_dppy/tests/kernel_tests/test_private_memory.py
Labels: enhancement

#665 Move skips for opencl to helper
  numba_dppy/tests/_helper.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_linalg.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_statistics.py
Labels: enhancement, tests

#669 Support dpctl 0.12
  .github/workflows/conda-package.yml
  conda-recipe/conda_build_config.yaml
  conda-recipe/meta.yaml
  environment.yml
  numba_dppy/dpctl_iface/usm_shared_allocator_ext.c
Labels: infrastructure, dpctl

#598 Implement compute-follows-data programming model [kernel API]
  CHANGELOG.md
  docs/user_guides/kernel_programming_guide/index.rst
  docs/user_guides/kernel_programming_guide/selecting_device.rst
  numba_dppy/compiler.py
  numba_dppy/dpctl_support.py
  numba_dppy/examples/select_device_for_kernel.py
  numba_dppy/tests/kernel_tests/test_compute_follows_data.py
  numba_dppy/utils/__init__.py
  numba_dppy/utils/messages.py
  numba_dppy/utils/misc.py
Labels: enhancement

#672 Use filter_str to skip tests on missing devices
  numba_dppy/tests/_helper.py
  numba_dppy/tests/integration/test_dpnp_interop.py
  numba_dppy/tests/integration/test_usm_ndarray_interop.py
  numba_dppy/tests/kernel_tests/test_arg_accessor.py
  numba_dppy/tests/kernel_tests/test_arg_types.py
  numba_dppy/tests/kernel_tests/test_atomic_op.py
  numba_dppy/tests/kernel_tests/test_barrier.py
  numba_dppy/tests/kernel_tests/test_caching.py
  numba_dppy/tests/kernel_tests/test_math_functions.py
  numba_dppy/tests/kernel_tests/test_print.py
  numba_dppy/tests/kernel_tests/test_private_memory.py
  numba_dppy/tests/kernel_tests/test_return_type.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_array_creation.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_array_ops.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_indexing.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_linalg.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_logic.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_manipulation.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_rng.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_sort_search_count.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_statistics.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_transcendentals.py
  numba_dppy/tests/njit_tests/test_numpy_bitwise_ops.py
  numba_dppy/tests/njit_tests/test_numpy_logic_ops.py
  numba_dppy/tests/njit_tests/test_numpy_transcedental_functions.py
  numba_dppy/tests/njit_tests/test_numpy_trigonometric_functions.py
  numba_dppy/tests/test_array_utils.py
  numba_dppy/tests/test_dpctl_api.py
  numba_dppy/tests/test_strided_array.py
  numba_dppy/tests/test_usm_ndarray_type.py
  numba_dppy/tests/test_vectorize.py
Labels: enhancement, tests

#648 Add check for DPNP and pin MKL version
  .github/workflows/conda-package.yml
  .github/workflows/generate-coverage.yml
  environment.yml
Labels: infrastructure, dpnp

#670 Add CODEOWNERS for distributing review process
  .github/CODEOWNERS
Labels: infrastructure

#674 Fix building with DPNP
  .github/workflows/conda-package.yml
  conda-recipe/bld.bat
  conda-recipe/conda_build_config.yaml
  conda-recipe/meta.yaml
  numba_dppy/tests/test_dpnp_iface.py
  setup.py
Labels: bug, tests, infrastructure, dpnp

#668 Add `skip_no_dpnp` and apply it to all tests
  .github/workflows/conda-package.yml
  conda-recipe/run_test.bat
  numba_dppy/config.py
  numba_dppy/tests/_helper.py
  numba_dppy/tests/integration/test_dpnp_interop.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_array_creation.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_array_ops.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_indexing.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_linalg.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_logic.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_manipulation.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_rng.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_sort_search_count.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_statistics.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_transcendentals.py
  numba_dppy/tests/passes/test_rename_numpy_function_pass.py
  numba_dppy/tests/test_dpnp_functions.py
Labels: enhancement, tests, dpnp

#675 Test skipping improvements
  docs/developer_guides/dpnp_integration.rst
  numba_dppy/tests/_helper.py
  numba_dppy/tests/integration/test_dpnp_interop.py
  numba_dppy/tests/kernel_tests/test_compute_follows_data.py
  numba_dppy/tests/njit_tests/dpnp/dpnp_skip_test.py
  numba_dppy/tests/njit_tests/test_numpy_bitwise_ops.py
  numba_dppy/tests/njit_tests/test_numpy_logic_ops.py
  numba_dppy/tests/njit_tests/test_numpy_transcedental_functions.py
  numba_dppy/tests/njit_tests/test_numpy_trigonometric_functions.py
Labels: enhancement, tests

#644 Use Python 3.9 in dev environment and pin DPNP
  .github/workflows/conda-package.yml
  conda-recipe/conda_build_config.yaml
  conda-recipe/meta.yaml
  environment.yml
Labels: enhancement, py39

#679 Pin dpctl 0.11.4 [public CI]
  .github/workflows/conda-package.yml
Labels: infrastructure, dpctl

#680 Add examples into package
  MANIFEST.in
  numba_dppy/tests/test_examples.py
  setup.py
Labels: examples, build

#681 Make possible to force debugging tests
  .github/workflows/conda-package.yml
  conda-recipe/meta.yaml
  numba_dppy/config.py
  numba_dppy/tests/test_debug_dppy_numba.py
Labels: tests, build

#682 Refactoring for debugging tests
  numba_dppy/examples/debug/side-by-side.py
  numba_dppy/examples/debug/simple_sum.py
  numba_dppy/tests/_helper.py
  numba_dppy/tests/debugging/__init__.py
  numba_dppy/tests/debugging/common.py
  numba_dppy/tests/debugging/conftest.py
  numba_dppy/tests/debugging/gdb.py
  numba_dppy/tests/debugging/test_backtraces.py
  numba_dppy/tests/debugging/test_breakpoints.py
  numba_dppy/tests/debugging/test_common.py
  numba_dppy/tests/debugging/test_info.py
  numba_dppy/tests/debugging/test_side_by_side.py
  numba_dppy/tests/debugging/test_stepping.py
  numba_dppy/tests/test_debug_dppy_numba.py
Labels: tests, debug, code cleanup

#654 Adopt Numba 0.55 debugging features
  docs/user_guides/debugging/altering.rst
  docs/user_guides/debugging/data.rst
  docs/user_guides/debugging/features.rst
  docs/user_guides/debugging/frame_info.rst
  docs/user_guides/debugging/info.rst
  docs/user_guides/debugging/limitations.rst
  docs/user_guides/debugging/local_variables.rst
  docs/user_guides/debugging/numba-0.55.rst
  docs/user_guides/debugging/symbols.rst
  numba_dppy/config.py
  numba_dppy/examples/debug/side-by-side-2.py
  numba_dppy/tests/debugging/gdb.py
  numba_dppy/tests/debugging/test_breakpoints.py
  numba_dppy/tests/debugging/test_info.py
Labels: documentation, tests, numba, debug
