Repository IntelPython/numba-dpex, pull requests merged in 2021-05, with the labels that each got.

#344 Restrict dpnp version
  conda-recipe/meta.yaml
Labels: 2 - Ready for Review

#345 Fix tests to skip if device is not available
  numba_dppy/tests/test_dpctl_api.py
  numba_dppy/tests/test_no_copy_usm_shared.py
Labels: tests

#347 Fix dpnp version restriction in conda recipe
  conda-recipe/meta.yaml
Labels: dpnp

#356 Initial port of sum
  numba_dppy/dpnp_glue/dpnp_transcendentalsimpl.py
Labels: dpnp

#358 Fix/dpnp0.6/sum
  numba_dppy/dpnp_glue/dpnp_transcendentalsimpl.py
Labels: dpnp

#359 Enable Python 3.8 with DPNP 0.6
  README.md
  conda-recipe/meta.yaml
  numba_dppy/dpnp_glue/dpnp_linalgimpl.py
  numba_dppy/dpnp_glue/dpnp_statisticsimpl.py
  numba_dppy/dpnp_glue/dpnp_transcendentalsimpl.py
Labels: dpnp

#301 Accommodate lower extension
  numba_dppy/dppy_lowerer.py
Labels: 2 - Ready for Review, numba

#279 Update to Numba 0.53
  README.md
  conda-recipe/meta.yaml
  numba_dppy/compiler.py
  numba_dppy/dppy_array_type.py
  numba_dppy/dppy_lowerer.py
  numba_dppy/dppy_passes.py
  numba_dppy/numpy_usm_shared.py
  numba_dppy/ocl/ocldecl.py
  numba_dppy/ocl/oclimpl.py
  numba_dppy/target.py
  setup.py
Labels: numba

#303 Remove dead code only if function name is replaced
  numba_dppy/rename_numpy_functions_pass.py
  numba_dppy/testing.py
  numba_dppy/tests/test_prange.py
Labels: 2 - Ready for Review

#323 Add recommendation for debugging
  docs/user_guides/debugging.md
Labels: 3 - Waiting: CI, documentation

#354 Fix SPIR-V validation
  numba_dppy/compiler.py
  numba_dppy/config.py
  numba_dppy/spirv_generator.py
Labels: 2 - Ready for Review, debug

#374 Refactor get_op_fn
  numba_dppy/tests/njit_tests/dpnp/_helper.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_array_creation.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_array_ops.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_linalg.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_rng.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_sort_search_count.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_statistics.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_transcendentals.py
Labels: tests

#375 feature/upgrade_to_dpctl_0.8
  README.md
  conda-recipe/meta.yaml
  numba_dppy/config.py
  numba_dppy/numpy_usm_shared.py
  numba_dppy/tests/test_no_copy_usm_shared.py
  numba_dppy/tests/test_usmarray.py
Labels: 3 - Waiting: CI, dpctl

#389 Add note about Intel Python Numba
  docs/user_guides/getting_started.rst
Labels: documentation

#395 Update CHANGELOG for 0.14.1
  CHANGELOG.md
Labels: documentation

#388 Create API docs
  CONTRIBUTING.md
  docs/.gitignore
  docs/conf.py
  docs/index.rst
  docs/user_guides/kernel_programming_guide/device-functions.rst
  numba_dppy/dispatcher.py
Labels: documentation

#362 Update Developer Guides about DPNP integration
  CONTRIBUTING.md
  docs/developer_guides/dpnp_integration.rst
  docs/index.rst
Labels: documentation, dpnp

#393 Fix/dppy rt extension
  numba_dppy/device_init.py
  numba_dppy/dppy_rt.c
  numba_dppy/driver/usm_shared_allocator_ext.c
  numba_dppy/initialize.py
  numba_dppy/numpy_usm_shared.py
  setup.py
Labels: 3 - Waiting: CI, dpctl

#391 Introduce type in Numba-dppy to represent dpctl.tensor.usm_ndarray
  numba_dppy/compiler.py
  numba_dppy/driver/__init__.py
  numba_dppy/driver/usm_ndarray_type.py
  numba_dppy/examples/usm_ndarray.py
  numba_dppy/tests/test_usm_ndarray_type.py
Labels: dppy

#402 Docs how to debug numba-dppy
  docs/user_guides/debugging/debugging_environment.rst
  docs/user_guides/debugging/index.rst
Labels: debug, documentation

#396 Docs how set up machine for gdb
  docs/user_guides/debugging/debugging_environment.rst
  docs/user_guides/debugging/index.rst
  docs/user_guides/debugging/set_up_machine.rst
Labels: debug, documentation

#405 Add documentation about `info functions` command
  docs/user_guides/debugging/features.rst
  docs/user_guides/debugging/info.rst
Labels: debug, documentation

#403 Add initial integration testing with dpnp and usm_ndarray
  numba_dppy/tests/integration/__init__.py
  numba_dppy/tests/integration/test_dpnp_interop.py
  numba_dppy/tests/integration/test_usm_ndarray_interop.py
Labels: dpnp, dppy, tests

#386 Fix using unquoted environment variable for clang path
  setup.py
Labels: bug

#411 Add check for ONEAPI_ROOT dir
  setup.py
Labels: bug
