Repository IntelPython/numba-dpex, pull requests merged in 2021-09, with the labels that each got.

#522 Fix Public CI
  .github/workflows/conda-package.yml
Labels: infrastructure

#532 Change channels priority in public CI
  .github/workflows/conda-package.yml
Labels: infrastructure

#529 Update/dpctl memcpy async
  .github/workflows/conda-package.yml
  conda-recipe/meta.yaml
  numba_dppy/dpctl_functions.py
  numba_dppy/dpnp_glue/dpnp_array_creations_impl.py
  numba_dppy/dpnp_glue/dpnp_array_ops_impl.py
  numba_dppy/dpnp_glue/dpnp_indexing.py
  numba_dppy/dpnp_glue/dpnp_linalgimpl.py
  numba_dppy/dpnp_glue/dpnp_logic.py
  numba_dppy/dpnp_glue/dpnp_manipulation.py
  numba_dppy/dpnp_glue/dpnp_randomimpl.py
  numba_dppy/dpnp_glue/dpnp_sort_search_countimpl.py
  numba_dppy/dpnp_glue/dpnp_statisticsimpl.py
  numba_dppy/dpnp_glue/dpnp_transcendentalsimpl.py
  numba_dppy/driver/dpctl_capi_fn_builder.py
  numba_dppy/driver/kernel_launch_ops.py
Labels: dpctl

#534 Add docs about local variables lifetime
  docs/user_guides/debugging/local_variables.rst
  numba_dppy/examples/debug/sum_local_vars_revive.py
Labels: documentation, debug

#535 Update conda recipe dependency `dpnp 0.7*`
  conda-recipe/meta.yaml
Labels: build, dpnp

#536 Public CI for Windows
  .github/workflows/conda-package.yml
Labels: infrastructure, windows

#543 Add info about tags in documentation
  CONTRIBUTING.md
Labels: documentation

#550 Update test and fix typo
  docs/user_guides/kernel_programming_guide/atomic-operations.rst
  numba_dppy/config.py
  numba_dppy/examples/atomic_op.py
  numba_dppy/tests/kernel_tests/test_atomic_op.py
Labels: atomic

#524 Update dpnp 0.8
  .github/workflows/conda-package.yml
  README.md
  conda-recipe/meta.yaml
  environment.yml
  numba_dppy/dpnp_glue/dpnp_array_ops_impl.py
  numba_dppy/dpnp_glue/dpnp_indexing.py
  numba_dppy/dpnp_glue/dpnp_linalgimpl.py
  numba_dppy/dpnp_glue/dpnp_statisticsimpl.py
  numba_dppy/tests/integration/test_dpnp_interop.py
Labels: dpnp

#561 Add code coverage configurations
  .coveragerc
  .gitignore
  .vscode/extensions.json
  CONTRIBUTING.md
  environment.yml
Labels: tests, infrastructure, clean code

#562 Add support pytest-cov and pytest-xdist
  .coveragerc
  environment.yml
  setup.cfg
Labels: infrastructure

#547 Add documentation workflow
  .github/workflows/generate-docs.yml
  docs/conf.py
Labels: documentation, infrastructure

#565 Fix passing strides array to DPNP dot and matmul.
  numba_dppy/dpnp_glue/dpnp_linalgimpl.py
Labels: dpnp

#566 Test numba and numba-dppy API with GDB
  environment.yml
  numba_dppy/examples/debug/dppy_numba_basic.py
  numba_dppy/tests/test_debug_dppy_numba.py
Labels: tests, debug

#568 Transform commands scripts for GDB to tests
  numba_dppy/tests/test_debug_dppy_numba.py
Labels: tests, debug

#559 Update CHANGELOG for 0.16.0
  CHANGELOG.md
Labels: documentation
