Repository IntelPython/numba-dpex, pull requests merged in 2021-06, with the labels that each got.

#291 Fix eager compilation with signature for dppy.kernel
  numba_dppy/compiler.py
  numba_dppy/decorators.py
  numba_dppy/tests/kernel_tests/test_atomic_op.py
  numba_dppy/tests/kernel_tests/test_barrier.py
  numba_dppy/tests/kernel_tests/test_caching.py
  numba_dppy/tests/test_debug.py
Labels: 4 - Ready to merge

#422 Refactored constants from target to utils.
  numba_dppy/dppy_lowerer.py
  numba_dppy/ocl/ocldecl.py
  numba_dppy/ocl/oclimpl.py
  numba_dppy/ocl/stubs.py
  numba_dppy/utils/__init__.py
  numba_dppy/utils/constants.py
  numba_dppy/utils/type_conversion_fns.py
Labels: 3 - Waiting: CI

#426 Add examples for debug
  numba_dppy/examples/debug/dppy_func.py
  numba_dppy/examples/debug/sum.py
Labels: debug, examples

#421 Test on debug local variables
  numba_dppy/tests/test_debug.py
  numba_dppy/tests/test_debuginfo.py
Labels: 2 - Ready for Review, debug

#428 Use default device in examples
  numba_dppy/examples/_helper.py
  numba_dppy/examples/atomic_op.py
  numba_dppy/examples/auto_offload_examples/sum-1d.py
  numba_dppy/examples/auto_offload_examples/sum-2d.py
  numba_dppy/examples/auto_offload_examples/sum-3d.py
  numba_dppy/examples/auto_offload_examples/sum-4d.py
  numba_dppy/examples/auto_offload_examples/sum-5d.py
  numba_dppy/examples/barrier.py
  numba_dppy/examples/blacksholes_kernel.py
  numba_dppy/examples/blacksholes_njit.py
  numba_dppy/examples/debug/dppy_func.py
  numba_dppy/examples/debug/sum.py
  numba_dppy/examples/dppy_func.py
  numba_dppy/examples/dppy_with_context.py
  numba_dppy/examples/matmul.py
  numba_dppy/examples/pairwise_distance.py
  numba_dppy/examples/rand.py
  numba_dppy/examples/sum.py
  numba_dppy/examples/sum2D.py
  numba_dppy/examples/sum_ndarray.py
  numba_dppy/examples/sum_reduction.py
  numba_dppy/examples/sum_reduction_ocl.py
  numba_dppy/examples/sum_reduction_recursive_ocl.py
  numba_dppy/examples/usm_ndarray.py
  numba_dppy/examples/vectorize.py
  scripts/run_examples.sh
Labels: examples

#435 Added local addrspace testing for native atomic op
  numba_dppy/tests/kernel_tests/test_atomic_op.py
Labels: 3 - Waiting: CI, atomic, tests

#441 Tests improvements for debuginfo
  numba_dppy/tests/test_debuginfo.py
  numba_dppy/tests/test_dpnp_functions.py
Labels: debug, tests

#424 Fix debuginfo
  numba_dppy/compiler.py
  numba_dppy/config.py
  numba_dppy/decorators.py
  numba_dppy/dppy_lowerer.py
  numba_dppy/tests/_helper.py
  numba_dppy/tests/test_debuginfo.py
Labels: bug, debug

#445 Improve configuration
  numba_dppy/__init__.py
  numba_dppy/codegen.py
  numba_dppy/compiler.py
  numba_dppy/config.py
  numba_dppy/dppy_lowerer.py
  numba_dppy/dppy_offload_dispatcher.py
  numba_dppy/dppy_passes.py
  numba_dppy/ocl/oclimpl.py
  numba_dppy/spirv_generator.py
  numba_dppy/testing.py
  numba_dppy/tests/__init__.py
  numba_dppy/tests/kernel_tests/test_atomic_op.py
  numba_dppy/tests/test_controllable_fallback.py
  numba_dppy/tests/test_debuginfo.py
  numba_dppy/tests/test_offload_diagnostics.py
  numba_dppy/tests/test_parfor_lower_message.py
  numba_dppy/tests/test_with_context.py
Labels: enhancement

#434 Pass correct `linkage_name` attribute to DIBuilder
  numba_dppy/dppy_debuginfo.py
  numba_dppy/dppy_lowerer.py
  numba_dppy/tests/test_debuginfo.py
Labels: 2 - Ready for Review, debug

#432 Fix/remove addressspace cast
  numba_dppy/compiler.py
  numba_dppy/decorators.py
  numba_dppy/dppy_array_type.py
  numba_dppy/dppy_lowerer.py
  numba_dppy/dppy_passes.py
  numba_dppy/extended_numba_itanium_mangler.py
  numba_dppy/numpy_usm_shared.py
  numba_dppy/ocl/oclimpl.py
  numba_dppy/printimpl.py
  numba_dppy/target.py
  numba_dppy/tests/test_debuginfo.py
  numba_dppy/tests/test_itanium_mangler_extension.py
  numba_dppy/utils/__init__.py
  numba_dppy/utils/type_conversion_fns.py
Labels: bug, debug

#446 Add scripts for testing debug examples
  numba_dppy/examples/debug/commands/function_breakpoint
  numba_dppy/examples/debug/commands/local_variables
  numba_dppy/examples/debug/commands/stepping
  scripts/run_debug_examples.sh
Labels: debug, examples, tests

#448 Improving User Guide section on Debugging with GDB
  docs/user_guides/debugging/debugging_environment.rst
  docs/user_guides/debugging/features.rst
  docs/user_guides/debugging/index.rst
  docs/user_guides/debugging/local_variables.rst
  docs/user_guides/debugging/set_up_machine.rst
  docs/user_guides/debugging/stepping.rst
  numba_dppy/examples/debug/commands/simple_sum
  numba_dppy/examples/debug/simple_sum.py
Labels: documentation

#447 Add scripts/diag_env.sh
  scripts/diag_env.sh
Labels: debug, tests

#451 Fix docs
  docs/user_guides/debugging/debugging_environment.rst
  docs/user_guides/debugging/set_up_machine.rst
Labels: debug

#452 Update docs about debugger local vars
  docs/user_guides/debugging/limitations.rst
  docs/user_guides/debugging/local_variables.rst
  numba_dppy/examples/debug/commands/local_variables
Labels: 2 - Ready for Review, debug, documentation

#460 Fix NUMBA_OPT and debug flag
  docs/user_guides/debugging/debugging_environment.rst
  docs/user_guides/debugging/index.rst
  numba_dppy/examples/debug/dppy_func.py
  numba_dppy/examples/debug/simple_dppy_func.py
  numba_dppy/examples/debug/simple_sum.py
  numba_dppy/examples/debug/sum.py
Labels: debug

#456 Add docs about backtrace
  docs/user_guides/debugging/backtrace.rst
  docs/user_guides/debugging/features.rst
  numba_dppy/examples/debug/commands/backtrace
  scripts/run_debug_examples.sh
Labels: debug

#459 Add docs for breakpoints
  docs/user_guides/debugging/breakpoints.rst
  docs/user_guides/debugging/features.rst
Labels: 3 - Waiting: reviewer, debug, documentation

#458 Add docs for get dwarf
  docs/user_guides/debugging/index.rst
  docs/user_guides/debugging/tools.rst
  numba_dppy/examples/debug/njit_basic.py
Labels: debug

#429 Update debugging documentation main case
  docs/index.rst
  docs/user_guides/debugging/index.rst
  docs/user_guides/debugging/set_up_machine.rst
Labels: debug, documentation

#387 Implement NumPy functions `trace` and `diagonal` via DPNP
  numba_dppy/dpnp_glue/dpnp_array_creations_impl.py
  numba_dppy/dpnp_glue/dpnp_fptr_interface.pyx
  numba_dppy/dpnp_glue/dpnp_indexing.py
  numba_dppy/dpnp_glue/stubs.py
  numba_dppy/rename_numpy_functions_pass.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_array_creation.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_indexing.py
Labels: 3 - Waiting: reviewer, dpnp

#401 Implement NumPy functions `partition` via DPNP
  numba_dppy/dpnp_glue/dpnp_fptr_interface.pyx
  numba_dppy/dpnp_glue/dpnp_sort_search_countimpl.py
  numba_dppy/dpnp_glue/stubs.py
  numba_dppy/rename_numpy_functions_pass.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_sort_search_count.py
Labels: dpnp

#413 Implement NumPy functions `repeat` via DPNP
  numba_dppy/dpnp_glue/dpnp_fptr_interface.pyx
  numba_dppy/dpnp_glue/dpnp_manipulation.py
  numba_dppy/dpnp_glue/stubs.py
  numba_dppy/rename_numpy_functions_pass.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_manipulation.py
Labels: dpnp

#463 Add script to create examples docs
  numba_dppy/examples/debug/commands/backtrace
  numba_dppy/examples/debug/commands/docs/backtrace
  numba_dppy/examples/debug/commands/docs/function_breakpoint
  numba_dppy/examples/debug/commands/docs/local_variables
  numba_dppy/examples/debug/commands/docs/next
  numba_dppy/examples/debug/commands/docs/sheduler_locking
  numba_dppy/examples/debug/commands/docs/simple_sum
  numba_dppy/examples/debug/commands/docs/stepi
  numba_dppy/examples/debug/commands/docs/stepping
  numba_dppy/examples/debug/commands/function_breakpoint
  numba_dppy/examples/debug/commands/local_variables
  numba_dppy/examples/debug/commands/next
  numba_dppy/examples/debug/commands/sheduler_locking
  numba_dppy/examples/debug/commands/simple_sum
  numba_dppy/examples/debug/commands/stepi
  numba_dppy/examples/debug/commands/stepping
  scripts/run_debug_examples.sh
  scripts/set_examples_to_doc.py
Labels: debug, documentation, infrastructure

#468 Move docs about tools to Developer Guides
  docs/developer_guides/tools.rst
  docs/index.rst
  docs/user_guides/debugging/index.rst
Labels: debug

#469 Fix undefined variables in ParforDiagnostics
  numba_dppy/dppy_parfor_diagnostics.py
Labels: bug, flake8

#464 Corrected text, line numbers and NUMBA_OPT=0 in GDB docs
  docs/developer_guides/tools.rst
  docs/user_guides/debugging/backtrace.rst
  docs/user_guides/debugging/breakpoints.rst
  docs/user_guides/debugging/debugging_environment.rst
  docs/user_guides/debugging/features.rst
  docs/user_guides/debugging/index.rst
  docs/user_guides/debugging/info.rst
  docs/user_guides/debugging/limitations.rst
  docs/user_guides/debugging/local_variables.rst
  docs/user_guides/debugging/set_up_machine.rst
  docs/user_guides/debugging/stepping.rst
Labels: 2 - Ready for Review, debug, documentation

#467 Add commands for breakpoints
  numba_dppy/examples/debug/commands/break_file_func
  numba_dppy/examples/debug/commands/break_func
  numba_dppy/examples/debug/commands/break_line_number
  numba_dppy/examples/debug/commands/break_nested_func
  numba_dppy/examples/debug/commands/docs/break_file_func
  numba_dppy/examples/debug/commands/docs/break_func
  numba_dppy/examples/debug/commands/docs/break_line_number
  numba_dppy/examples/debug/commands/docs/break_nested_func
  scripts/run_debug_examples.sh
Labels: debug, documentation

#416 Implement NumPy functions `all` via DPNP
  numba_dppy/dpnp_glue/dpnp_fptr_interface.pyx
  numba_dppy/dpnp_glue/dpnp_logic.py
  numba_dppy/dpnp_glue/stubs.py
  numba_dppy/rename_numpy_functions_pass.py
  numba_dppy/tests/njit_tests/dpnp/test_numpy_logic.py
Labels: dpnp

#477 Update docs for info functions
  docs/user_guides/debugging/info.rst
  numba_dppy/examples/debug/commands/docs/info_func
  numba_dppy/examples/debug/commands/info_func
  scripts/run_debug_examples.sh
Labels: debug, documentation

#474 Update local variables docs
  docs/user_guides/debugging/local_variables.rst
  numba_dppy/examples/debug/commands/docs/local_variables_0
  numba_dppy/examples/debug/commands/docs/local_variables_1
  numba_dppy/examples/debug/commands/local_variables
  numba_dppy/examples/debug/commands/local_variables_0
  numba_dppy/examples/debug/commands/local_variables_1
  numba_dppy/examples/debug/sum_local_vars.py
  scripts/run_debug_examples.sh
Labels: debug, documentation

#475 Update docs about breakpoints and backtrace
  docs/user_guides/debugging/backtrace.rst
  docs/user_guides/debugging/breakpoints.rst
  numba_dppy/examples/debug/commands/backtrace_kernel
  numba_dppy/examples/debug/commands/docs/backtrace_kernel
  numba_dppy/examples/debug/commands/docs/break_func
  numba_dppy/examples/debug/commands/docs/break_line_number
  numba_dppy/examples/debug/commands/docs/break_nested_func
  scripts/run_debug_examples.sh
Labels: debug

#480 Docs for `break ... if cond`
  docs/user_guides/debugging/breakpoints.rst
  numba_dppy/examples/debug/commands/break_conditional
  numba_dppy/examples/debug/commands/docs/break_conditional
Labels: debug, documentation

#486 Refactor examples in docs
  docs/user_guides/debugging/backtrace.rst
  docs/user_guides/debugging/breakpoints.rst
  docs/user_guides/debugging/info.rst
  docs/user_guides/debugging/local_variables.rst
  docs/user_guides/debugging/stepping.rst
  numba_dppy/examples/debug/commands/docs/backtrace
  numba_dppy/examples/debug/commands/docs/backtrace_kernel
  numba_dppy/examples/debug/commands/docs/break_conditional
  numba_dppy/examples/debug/commands/docs/break_file_func
  numba_dppy/examples/debug/commands/docs/break_func
  numba_dppy/examples/debug/commands/docs/break_line_number
  numba_dppy/examples/debug/commands/docs/break_nested_func
  numba_dppy/examples/debug/commands/docs/info_func
  numba_dppy/examples/debug/commands/docs/local_variables
  numba_dppy/examples/debug/commands/docs/local_variables_0
  numba_dppy/examples/debug/commands/docs/local_variables_1
  numba_dppy/examples/debug/commands/docs/next
  numba_dppy/examples/debug/commands/docs/sheduler_locking
  numba_dppy/examples/debug/commands/docs/simple_sum
  numba_dppy/examples/debug/commands/docs/step_dppy_func
  numba_dppy/examples/debug/commands/docs/step_sum
  numba_dppy/examples/debug/commands/docs/stepi
  numba_dppy/examples/debug/commands/docs/stepping
  scripts/set_examples_to_doc.py
Labels: debug, documentation

#479 Moved common issues to a separate file
  docs/user_guides/debugging/backtrace.rst
  docs/user_guides/debugging/common_issues.rst
  docs/user_guides/debugging/debugging_environment.rst
  docs/user_guides/debugging/features.rst
  docs/user_guides/debugging/index.rst
  docs/user_guides/debugging/local_variables.rst
  docs/user_guides/debugging/stepping.rst
Labels: debug, documentation

#485 Refactor GDB docs
  docs/user_guides/debugging/index.rst
  docs/user_guides/debugging/info.rst
Labels: debug, documentation
